/*  Colour palette
--icterine (yellow): #f7f052ff;
--princeton-orange (l-orange): #f28123ff;
--sinopia (d-orange_: #d34e24ff;
--eerie-black (blue-black): #272727ff;
--sapphire (b-blue): #2b50aaff;*/

/* Layout styling */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

body {
	display: grid;
	grid-template-columns: 1fr; 
	grid-template-rows: 50px auto 1fr 30px;
}

header{
	background-color: #d34e24ff;
}

.cover{
	background-color: #f28123ff;
	padding: 2% 5%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
}

.content-container{
	background-color: #f28123ff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: 1fr;
	grid-gap: 20px;
	padding: 20px;
	align-content: space-around;
}

footer{
	grid-area: 4/1/5/-1;
	background-color: #d34e24ff;
}

/*Animated Button Styling*/
.subject-btn {
	background-color: white;
	cursor: pointer;
	text-align: center;
	max-height: 250px;
	font-family: 'Roboto', sans-serif;
	color: #692712;
	font-size: 1.75rem;
	border-radius: 5%;
}

.subject-btn:hover {
	box-shadow: 5px 10px #d34e24ff;
}

.zone {
	width: 80%;
	height: 80%;
}

.art {
}

.geography {

}

.history {

}

.maths {

}

.mfl {

}

.science {
	position: relative;display: block;background: #FFF;width: 200px;height: 200px;margin: auto;}.rb-flask-base {position: absolute;background: #90CAF9;width: 50%;left: 25%;height: 50%;top: 35%;border-radius: 50%;z-index: 1;}.rb-flask-neck {position: absolute;background: #90CAF9;width: 15%;left: 42.5%;height: 15%;top: 25%;z-index: 1;}.base-mask {position: absolute;background: #FFF;clip-path: circle(50% at 50% 0);width: 77%;height: 8%;bottom: 0%;left: 12%;z-index: 3;}.liquid {position: absolute;background: #AEEA00;width: 116%;left: -8%;height: 50%;bottom: 0%;clip-path: circle(50% at 50% 0);z-index: 2;}.liquid-mask {position: absolute;background: #90CAF9;clip-path: circle(50% at 50% 0);width: 74%;height: 15%;bottom: 10%;left: 13%;z-index: 3;}.bung {position: absolute;background: #8D6E63;width: 12%;left: 44%;height: 15%;top: 15%;border-radius: 5px;z-index: 2;}.rb-flask-lip {position: absolute;background: #90CAF9;width: 20%;left: 40%;height: 5%;top: 20%;border-radius: 50px;z-index: 3;}.bubble-liq-big {position: absolute;background: #F4FF81;width: 8%;left: 52%;height: 8%;bottom: 26%;border-radius: 50%;z-index: 3;}.bubble-liq-small {position: absolute;background: #F4FF81;width: 2.9%;left: 42%;height: 2.9%;bottom: 33%;border-radius: 50%;z-index: 3;}.bubble-air-big {position: absolute;background: #E3F2FD;width: 5%;left: 45%;height: 5%;bottom: 46%;border-radius: 50%;z-index: 3;}.bubble-air-small {position: absolute;background: #E3F2FD;width: 2.9%;left: 55%;height: 2.9%;bottom: 53%;border-radius: 50%;z-index: 3;}


/* Font and text styling */
h1{
	font-size: 4rem;
	font-family: 'Trade Winds', cursive;
	color: white;
}

h2{
	font-size: 1.75rem;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: right;
}

/* Image styling */
#logo{

}


/* Mobile Styling */

@media only screen and (max-width: 900px) {
	.cover {
		display: block;
	}

	.cover > h2 {
		text-align: right;
	}
}

@media only screen and (max-width: 600px) {

	/* Font and text styling */
	h1{
		font-size: 3rem;
	}

	h2{
		font-size: 1.5rem;
	}

}

@media only screen and (max-width: 501px) {

	/* Font and text styling */
	h2{
		font-size: 0.75rem;
	}

}
